* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.nav {
  background-color: #181818;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /*fixando o header e sincronizando com o scroll*/
  position: sticky;
  top:0;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 24px;
}

.nav-list a {
  text-decoration: none;
  color: #ddd;
  padding: 20px;
}

.nav-list a:hover {
  color: #fff;
}

/* MAIN */
.main{
    width: 100%;
    height: calc(100vh - 80px);   /*calculo para não cobrir o espaçamento do header*/
    background-color: #000000;
    background-image: url(imgs/programador-fundo.png);

    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1{
    color: #fff;
    font-size: 54px;
}

.main p{
    font-size: 24px;
    font-style: italic;
    color: #1e96fc;
    margin: 10px 0px 35px 0px;
}

.call-to-action{
    cursor: pointer;

    background-color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.8s; /*duração total do efeito*/
}

.call-to-action:hover{
    transform: scale(1.1); /*aplicando efeito aumento de escala */
}

.main a{
    text-decoration: none;
    color: #181818;
}

/* SOBRE */

.about{
    background-color: #fff;
    width: 100%;
    padding: 80px 10% 80px 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

} 

.about div{
    max-width: 50%;
    padding-right: 40px;
}

.about div h2{
    font-size: 32px;
    margin-bottom: 14px;
}

.about img{
    max-width: 450px;
    height: 325px;

    border-radius: 8px;
}

/* PROJETOS */
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.projects h2{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.projects p{
    margin-bottom: 40px;
    font-style: italic;
}

.project-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects img{
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.8s;
    border-radius: 4px;
}

.projects img:hover{
    transform: scale(1.2);
    opacity: 1;
    z-index: 9;
}

.projects button{
    cursor: pointer;
    color: #fff;

    background-color: black;
    border: 0;
    border-radius: 4px;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.8s;
}